.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
  width: 100%;
  box-sizing: border-box;
  height: 7em;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header h1 {
  margin: 0;
  font-size: 2.5em; 
  color: white; 
}

.home-link {
  text-decoration: none; 
  color: inherit; 
  display: flex;
  align-items: center; 
}

.header-button, .header-link {
  background-color: #603884;
  border: none;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none; 
  font-size: 1em; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-button:hover, .header-link:hover {
  background-color: #a382cd;
}
