.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-button {
  background-color: #603884;
  border: none;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.header-button:hover {
  background-color: #a382cd;
}
