.task-detail-page button {
  display: block;
  width: 200px;
  margin: 20px auto; 
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #603884; 
  cursor: pointer;
  font-size: 1.2em;
}

.task-detail-page button:hover {
  background-color: #4a2a62;
}
